@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Компанія з найбільшою кількістю співробітників: @ViewBag.Company</h1>
    <li>Name: @ViewBag.Name</li>
    <li>Age: @ViewBag.Age</li>
    <li>Location: @ViewBag.Location</li>
    <li> Occupation: @ViewBag.Occupation</li>
</div>
